<% provide(:title, 'Halp!') %>

<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
    <div class="span12 hero-unit offset4" style="background-color: #e6fae1; width: 40%" align="center">

<h1>Halpinguu</h1>

</div><!-- /hero-unit-->
  </div><!-- /containerfluid -->
