<% provide(:title, 'User Profile') %>
<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
    <div class="hero-unit offset4" style="background-color: #e6fae1; width: 40%" align="center">

<h2>User Profile</h2>
	<%= image_tag @user_profile.image_url(:thumb).to_s%>

	<%= @user_profile.fullname %>

	<!-- </table>
	<b>Educ:</b>
	<% @education = Education.where( :user_profile_id => @user_profile.id ) %>
	<% @education.each do |educ| %>
		<%= educ.school %>
	<%end%>-->

</div><!-- /hero-unit-->
  </div><!-- /containerfluid -->
