<% provide(:title, 'Projects') %>
<div class="container-fluid" align="center" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
	<% if user_signed_in? %>
	    <%= render 'layouts/projectlist', :projects => @projects %>
		<%= will_paginate @projects %>

	<% else %>
		<b>You are not signed in!</b>
		<%= link_to "Sign in", root_path %>
	<% end %>
</div>