<% provide(:title, 'Projects') %>
<% if user_signed_in? %>
<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
    <div class="span12 offset2" align="center">
    <%= render 'layouts/projectlist', :projects => @projects %>
	
	<%= will_paginate @projects %>
	<%= link_to 'Create Project', new_project_path, class: "btn btn-success" %>

<% else %>
	<%= "You are not signed in!" %>
<% end %>
</div>
</div>