/* base styles */
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #F7F5F5;
    font-size: 10px;
    font-family: arial,sans-serif;
}
a {
    color: #221919;
    text-decoration: none;
}

/* photo pins - general styles */
.main_container {
    margin: 0 auto;
    padding: 10px 10px 0;
    position: relative;
}

/* single pin styles */
.pin {
    background-color: #F8F8F8;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    float: left;
    font-size: 11px;
    margin: 0 -6.5% 1% 7.5%; /*0 -6.5% 1% 7.5%;*/
    padding: 15px 15px 0;
    position: relative;
    width: 192px;
}
.pin .holder {
    position: relative;
}
.pin .actions {
    left: -8px;
    position: absolute;
    top: -8px;
    z-index: 3;
}
.pin .actions a {
    clear: none;
    display: none;
    float: left;
    margin: 0 5px 0 0;
}
.pin:hover .actions a {
    display: block;
}
.pin .image {
    background-color: #F2F0F0;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    text-decoration: none;
}
.pin .image img {
    max-width: 192px;
    min-height: 75px;
    opacity: 1;
}
.pin .desc {
    margin: 10px 0 5px;
    font-family: verdana, sans-serif;
    overflow: hidden;
    word-wrap: break-word;
}
.pin .info {
    color: #8C7E7E;
    line-height: 1.35em;
    margin: 0 0 0.8em;
    overflow: hidden;
    font-family: tahoma, sans-serif;
}
.pin .info span {
    float: left;
    margin-right: 10px;
}
.comment {
    background-color: #F2F0F0;
    border-top: 1px solid #D9D4D4;
    box-shadow: 0 1px #FCFAFA inset;
    margin: 0 -15px;
    overflow: hidden;
    padding: 10px 15px;
}
.comment textarea {
    background-color: #FCF9F9;
    border: 1px solid #CCCCCC;
    color: #8C7E7E;
    font-size: 11px;
    height: 21px;
    line-height: 1em;
    margin-bottom: 6px;
    padding: 4px 3px 3px;
    resize: none;
    width: 185px;
}
.comment textarea:focus {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(34, 29, 29, 0.1) inset;
}
