<% screens.each do |ss| %>
    <%= link_to ss.image_url, :target => "_blank" do %>
    <div class="container" style="width: 30%">
        <%= image_tag ss.image_url(:thumb).to_s%>
        <br>
        <%= ss.description %>
    </div>
    <% end %>
<% end %>